.finance-table {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 24px;
}

.finance-table__finance-wrapper {
    display: flex;
    overflow: hidden;
}

.finance-table__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29.33%;
}

.finance-table__title {
    margin-right: 5px;
}

.finance-table__pointer {
    margin: 0 15px;
    color: black;
}

.finance-table__income {
    color: rgb(0, 203, 0);
}

.finance-table__expense {
    color: red;
}

.finance-table__profit {

}

.finance-table__sum-wrapper {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.finance-table__sum {
    margin-right: .4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.finance-table__add-btn {
    width: 12%;
    max-height: 40px;
    height: 5vh;
    margin-left: 20px;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 158, 244);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
}