.jewerly__modal {
    width: 90%;
    height: 80%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;

    .jewerly__modal-title {
        margin: 0;
        margin-bottom: 25px;
    }
}