.transport {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}

.transport__header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid #636363;
}

.transport__title {
    font-size: 22px;
}

.transport__btn-add {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in;
    margin-left: 10px;
}

.transport__btn-add:hover {
    background-color: #636363;
    color: yellow;
}

.transport__items {
    /* background-color: #636363; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 44px 44px 0 44px;
}

/* item */

.transport-item {
    width: 866px;
    /* height: auto; */
    height: 500px;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: #636363;
    border-radius: 15px;
}

.transport-item__conteiner {
    padding: 0 40px;
}

.transport-item:nth-child(2n+2) {
    margin-right: 0px;
}

.transport-item__header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #2F2E2E;
    margin-bottom: 10px;
    /* padding: 0 40px; */
}

.transport-item__title {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 20px;
}

.transport-item__title > img {
    width: 65px;
    height: 45px;
    margin-right: 15px;
}

.transport-item__btn-remove {
    width: 45px;
    height: 45px;
    font-size: 35px;
    align-items: center;
    /* border-radius: 15px; */
    padding: 0px;
    background-color: #636363;
    border: 0px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transport-item__btn-remove:hover {
    color: yellow;
    /* border: 1px solid black;  */
    /* background-color: black; */
}

.transport-item__btn-remove:active {
    color: #636363;
    /* border: 1px solid black;  */
    background-color: black;
    transition: all 0.1s ease-out;
}

.transport-item__content {
    /* position: relative; */
    display: flex;
    /* width: 100%; */
    height: 350px;
    /* background-image: url('./../../../assets/img/solaris.jpg') inherit; */
    /* opacity: 0.2; */
    border-radius: 15px;
}

.transport-item__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border-right: 1px solid grey; */
    /* align-items: center; */
    /* margin-top: 20px; */
}

.transport-item__info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transport-item__btn-inventory {
    width: 170px;
    height: 42px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s ease-in;
}

.transport-item__btn-inventory:hover {
    background-color: #2F2E2E;
    color: yellow;
}

.transport-item__graph {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: auto;
    
}

.transport-item__graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    /* background-color: white; */
    border-radius: 15px;
    /* border: 3px solid #2F2E2E; */
}

.canvas {
    width: 100%;
}

.transport-item__btn-edit {
    width: 28px;
    height: 21px;
    margin-right: 5px;
    background-color: #636363;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.transport-item__btn-edit > img {
    width: 100%;
    height: 100%;
    background-color: #636363;
}

.transport-item__btn-edit:hover {
    border-bottom: 1px solid white;
} 