.extended-setting {
    width: 100%;
    font-family: "SFUI-Display";
}

.extended-setting__content {
    width: 100%;
    height: auto;
}

.extended-setting__item {
    height: 90px;
    position: relative;
    display: flex;
}

.extended-setting-item {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.extended-setting-item:last-child {
    display: flex;
    align-items: flex-end;
    height: auto;
    padding-top: 84px;
    padding-bottom: 30px;
}

.extended-setting-item__title {
    font-size: 28px;
    font-weight: 700;
}

.extended-setting-item__content {
    transition: all 0.2s ease-out;
    /* text-decoration: underline; */
    color: rgb(150, 150, 150);
    font-size: 27px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.extended-setting-item__content:hover {
    text-decoration: underline;
}

.toggle-switch {
    position: relative;
    width: 82px;
    display: inline-block;
    text-align: left;
    top: 11px;
  }
  .toggle-switch__checkbox {
    display: none;
  }
  .toggle-switch__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 24px;
  }
  .toggle-switch__inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in;
  }
  .toggle-switch__inner:before,
  .toggle-switch__inner:after {
    float: left;
    width: 50%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }
  .toggle-switch__inner:before {
    content: "";
    padding-left: 10px;
    background-color: rgb(65, 139, 249);
    color: #fff;
  }
  .toggle-switch__inner:after {
    content: "";
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }
  .toggle-switch__switch {
    display: block;
    width: 31px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 22px;
    transition: all 0.2s ease-in;
  }
  .toggle-switch__checkbox:checked + .toggle-switch__label .toggle-switch__inner {
    margin-left: 0;
  }
.toggle-switch__checkbox:checked + .toggle-switch__label .toggle-switch__switch {
    right: 0px;
}

@media (max-height: 1115px) {
  .extended-setting__item:last-child {
      padding-top: 75px;
  }
  .extended-setting__item {
      height: 80px;
  }
  .extended-setting-item {
      height: 80px;
  }
}