.transport__page-modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80vh;
    padding: 25px 15px;
    font-family: "SFUI-Display";
    border-radius: 15px;
    background-color: #fff;
    overflow-y: scroll;

    .transport__modal-title {
        margin-bottom: 15px;
        @include _fontStyle(700, 33px, 35px, #333)
    }
}

.--active {
    animation-name: transition_income;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes transition_transport {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}