@import "/src/shared/styles/common/mixins.scss";

.credit {
    display: flex;
    opacity: 0;
    flex-direction: column;
    gap: 25px;
    transform: translateY(100%);
    transition: transform .9s ease-in-out, opacity .6s ease-in-out;

    .price__sum-container {
    
        &:focus-within {
            outline-color: rgb(103, 158, 244);
        }
    
        &:hover {
            outline-color: rgb(103, 158, 244);
        }
    
        .price__sum-input {
            width: 100%;
            height: 100%;
            text-align: end;
            border: none;
            outline: none;
            margin-right: 5px;
            @include _fontStyle(600, 28px, 30px, rgba(0, 0, 0, 0.48));
        }
    
        .price__sum-currency {
            @include _fontStyle(600, 28px, 30px, rgba(0, 0, 0, 0.48));
        }
    }
}

.active--loan {
    opacity: 1;
    transform: translateY(0);
}