.balance__page {
    width: 100%;
    height: 100%;
    padding-top: 50px;

    .container {
        height: 100%;
    }

    .balance__page-content {
        display: flex;
        flex-direction: column;
        font-family:'Montserrat', sans-serif;
        gap: 20px;
    
        .balance__page-finance {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .balance__income-expense {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: calc(50% - 10px);
            }
        }

        .balance__page-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .modal {
        .modal-enter {
            opacity: 0;
            transition: scale(0.9);
        }
        
        .modal-enter-active {
            opacity: 1;
            transition: opacity 200ms;
        }
        
        .modal-exit {
            opacity: 1;
        }
        
        .modal-exit-active {
            opacity: 0;
            transition: opacity 200ms;
        }        
    }
}