.delete-modal {
    width: 1300px;
    height: 865px;
    background-color: #636363;
    border-radius: 15px;
    padding: 25px 0;
}

.delete-modal__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid yellow;
    height: 100px;
    align-items: center;
    font-size: 18px;
    padding: 0 80px;
}

.delete-modal__close-btn {
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: #636363;
    border: none;
    cursor: pointer;
}

.delete-modal__close-btn:hover {
    background-color: #636363;
    color: rgb(36, 36, 36);
}

.delete-modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    padding: 0 80px;
    justify-content: space-evenly;
    background-color: #6d6d6d;
}

.delete-modal__content > h2 {
    font-size: 25px;
}

.delete-modal__item {
    width: 100%;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.delete-modal__label {
    font-size: 22px;
    width: 35%;
    margin-bottom: 15px;
    margin-left: 100px;
    
}

/* .delete-modal__item-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
} */

/* .property-modal__item-container > span {
    margin-left: 10px;
    align-items: center;
} */

/* .property-modal__item-container > input {
    align-items: center;
    background-color: #636363;
    cursor: pointer;
    margin-top: 3px;
    width: 15px;
    height: 15px;
} */

.delete-modal__item:nth-child(4n) {
    
}

.delete-modal__item > label {
    cursor: pointer;
    position: relative;
    margin-left: 50px;
}
.delete-modal__item > input[type="radio"] {
    display:none
}
.delete-modal__item > label:before {
    cursor: pointer;
    content:'';
    width: 20px;
    height: 20px;
    border:2px solid rgb(0, 0, 0);
    border-radius:50%;
    position:absolute;
    top:calc(50% - 11px);
    left: -50px;
    
}

#delete1:checked~label:before, #delete2:checked~label:before, #delete3:checked~label:before {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 0);
    border-width: 6px;
    border-style: double;
    top: calc(50% - 12px);
}

.delete-modal__footer {
    height: 110px;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid yellow;
    /* margin-bottom: 10px; */
}

.delete-modal__add-btn, .delete-modal__cancel-btn {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: rgb(49, 49, 49);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.delete-modal__add-btn {
    margin-right: 30px;
    background-color: black;
}

.delete-modal__add-btn:hover, .delete-modal__cancel-btn:hover {
    background-color: #636363;
    color: yellow;
}

.delete-modal__item > input {
    height: 35px;
    width: 40%;
    border-radius: 7px;
    background-color: #a4a4a4;
    padding: 2px 10px;
    font-size: 20px;
    display: flex;
    justify-content: start;
}