.assets-type-info__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
    background-color: #6d6d6d;
} 


.assets-type-info__item {
    width: 100%;
    height: 250px;
    /* display: flex; */
}

/* .actives-type-info__container > input {
    height: 65px;
    width: 100%;
    border-radius: 7px;
    background-color: #a4a4a4;
    padding: 2px 10px;
    font-size: 20px;
} */

/* .actives-type-info__item input {
    height: 35px;
    width: 100%;
    border-radius: 7px;
    background-color: #a4a4a4;
    padding: 2px 10px;
    font-size: 20px;
} */

.assets-type-info__label {
    font-size: 25px;
    width: 100%;
    margin-bottom: 40px;
}

.assets-type-info__item-container {
    margin-bottom: 40px;
    font-size: 20px;
}

.assets-type-info__item-container > label {
    cursor: pointer;
    position: relative;
    margin-left: 55px;
}
.assets-type-info__item-container > input {
    display:none
}
.assets-type-info__item-container > label:before {
    cursor: pointer;
    content:'';
    width: 20px;
    height: 20px;
    border:2px solid rgb(0, 0, 0);
    border-radius:50%;
    position:absolute;
    top:calc(50% - 11px);
    left: -50px;
    
}

#rent1:checked~label:before, #rent2:checked~label:before {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 0);
    border-width: 6px;
    border-style: double;
    top: calc(50% - 12px);
}