.diary-page {
    width: 86%;
    font-family:'Montserrat', sans-serif;
    position: relative;
    /* background-color: white; */
    /* padding: 20px; */
    max-height: 1100px;
    /* margin-top: 20px; */
    border-radius: 20px;
    height: 80vh;
}

.diary-page__categories {
    height: 85px;
    font-size: 30px;
    margin: 5px 0 10px 0;
}