.registration__firstStep {

    .registration__firstStep-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 25px;

        .registration__label {
            display: flex;
            flex-direction: column;
            @include _fontStyle(400, 25px, 24px, $lightBlueColor);
    
            .registration-input {
                outline: none;
                border: none;
                margin-top: 5px;
                padding: 5px 0;
                border-bottom: 1px solid $lightBlueColor;
            }
    
            .registration__input-password {
                margin-bottom: 15px;
            }
    
            .error {
                border-bottom: 1px solid $validationError;
            }
    
            .error-validation {
                @include _fontStyle(400, 20px, 21px, $validationError);
            }
        }
    }
}


