.registration__secondStep {
    display: flex;
    flex-direction: column;

    .registration__secondStep-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 25px;
    }
}

