.add-deposits-page {
    width: 100%;
    font-family: "SFUI-Display";
    height: 100vh;
    /* background: url('../../../assets/img/balance/bckg.png');
    animation: scroll 800s linear infinite; */
    padding: 90px 0 10px 0;
    position: relative;
}

.add-deposits-page__container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* display: flex; */
}

.add-deposits-page__content {
    display: flex;
    justify-content: space-between;
}

.add-deposits-page__deposit-block, .add-deposits-page__history-block {
    width: 730px;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 2;
}

.add-deposits-page__title-deposit {
    margin: 20px 10px;
    font-size: 33px;
    font-weight: 700;
    margin-left: 20px;
}

.add-deposits-page__title-history {
    margin: 20px auto;
    font-size: 33px;
    font-weight: 700;
}

.add-deposits-page__history-wrapper, .add-deposits-page__deposit-wrapper {
    width: 100%;
    background-color: white;
    height: 75vh;
    max-height: 1000px;
    /* min-height: 676px; */
    min-height: 600px;
    border-radius: 30px;
    padding: 20px;
    /* z-index: 2; */
    /* overflow: hidden;
    overflow-y: auto; */
    /* position: relative; */
    /* overflow: hidden; */
    /* overflow-y: auto; */
}

.add-deposits-page__deposit-content, .add-deposits-page__history-content {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}

.add-deposits-page__item {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    position: relative;
}

.add-deposits-page__btn-container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.add-deposits-page__replenish-btn {
    color: rgb(203, 203, 205);
    border: none;
    background-color: inherit;
    font-size: 25px;
    margin-left: 25px;
    border-bottom: 1px solid rgb(203, 203, 205);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.add-deposits-page__replenish-btn:hover {
    color: rgb(164, 164, 164);
}

.add-deposits-page__item:last-child {
    margin-bottom: 0;
}

.add-deposits-page__add-btn--active {
    width: 200px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: rgb(103, 157, 244);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
}

.add-deposits-page__add-btn--active:hover {
    background-color: rgb(75, 142, 250);
}

.add-deposits-page__add-btn {
    width: 200px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: rgb(158, 190, 254);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
}

.add-deposits-page__cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 22px;
}

.add-deposits-page__btns {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 12px 0;
}

.add-deposits-page__history-content::-webkit-scrollbar {
    max-width: 6px;               /* ширина scrollbar */
    max-height: 50px;
}
.add-deposits-page__history-content::-webkit-scrollbar-thumb {
    background-color: rgb(241, 242, 246);    /* цвет плашки */
    border-radius: 15px;       /* закругления плашки */
    border: 1.6px solid rgb(241, 242, 246);  /* padding вокруг плашки */
}
