.add-securities-form {
    /* width: 100%; */
    z-index: 2;
    width: 100%;
    padding: 0 10px;
}

.add-securities-form__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-securities-form__characteristic-block, .add-securities-form__history-block {
    width: 730px;
    z-index: 2;
}

.add-securities-form__characteristic-title {
    margin: 15px 10px;
    font-size: 33px;
    height: 40px;
    font-weight: 700;
    margin-left: 20px;
    position: relative;
}

.add-securities-form__characteristic-block-wrapper, .add-securities-form__history-block-wrapper {
    height: 75vh;
    max-height: 1000px;
    min-height: 600px;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
}

.add-securities-form__characteristic-block-content, .add-securities-form__history-block-content {
    height: 100%;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.add-securities-form__history-title {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
    margin: 15px 0;
    height: 40px;
}

.add-securities-form__cancel-btn {
    font-size: 20px;
}

.add-securities-form__add-btn {
    width: 190px;
    max-height: 40px;
    height: 5vh;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: rgb(103, 158, 244);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
}

.add-securities-form__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    padding: 12px 0;
}

.add-securities-form__history-block-content::-webkit-scrollbar {
    max-width: 6px;               /* ширина scrollbar */
    max-height: 50px;
}

.add-securities-form__history-block-content::-webkit-scrollbar-thumb {
    background-color: rgb(241, 242, 246);    /* цвет плашки */
    border-radius: 15px;       /* закругления плашки */
    border: 1.6px solid rgb(241, 242, 246);  /* padding вокруг плашки */
}

.add-securities-form__characteristic-block-content::-webkit-scrollbar {
    max-width: 6px;               /* ширина scrollbar */
    max-height: 50px;
}
.add-securities-form__characteristic-block-content::-webkit-scrollbar-thumb {
    background-color: rgb(241, 242, 246);    /* цвет плашки */
    border-radius: 15px;       /* закругления плашки */
    border: 1.6px solid rgb(241, 242, 246);  /* padding вокруг плашки */
}

.add-securities-form__item {
    height: 115px;
    width: 100%;
}

.add-securities-form__warning {
    margin-top: 5px;
    color: rgb(187, 187, 187);
}

.add-securities-form__hide-history-btn {
    background-color: inherit;
    border: none;
    color: rgb(17, 17, 17);
    border-bottom: 2px solid rgb(164, 164, 164);
    cursor: pointer;
    font-size: 22px;
    margin-top: 20px;
}


