@import "/src/shared/styles/common/mixins.scss";
@import "/src/shared/styles/common/colorize.scss";

.immovables__create-form {
    display: flex;
    width: 90%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;

    .immovables__form-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 25px;
        padding: 20px;
        background-color: #fff;
        border-radius: 15px;

        .immovables__form-container {
            display: flex;
            flex-direction: row;
            gap: 15px;
            overflow: hidden;

            .immovables__form-characteristics {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px;
                overflow-y: scroll;

                .immovables__form-add_photo {
                    margin-top: auto;
                    align-self: flex-start;
                    background-color: transparent;
                    border: none;
                    color: #333;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 24px;
                    transition: color .3s ease-in-out;

                    &:hover {
                        color: $lightBlueColor;
                    }
                }
            }

            .active {
                animation-name: transform_width-haracteristics;
                animation-duration: .3s;
                animation-timing-function: linear;
                animation-fill-mode: both;
            }

            .immovables__form-loan {
                width: calc(50% - 7.5px);
                padding: 20px;
                overflow-y: scroll;
            }

            .disabled {
                display: none;
            }
        }

        .immovables__form-actions {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;
    
            .immovables__form-cancel {
                cursor: pointer;
                padding: 20px 15px;
                border-radius: 20px;
                background-color: transparent;
                border: none;
                transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
                color: #333;
                @include _fontStyle(400, 20px, 24px, #333);
    
                &:focus-visible {
                    outline: 1px solid red;
                    color: red;
                }
    
                &:hover {
                    outline: 1px solid red;
                    color: red;
                }
            }
    
            .immovables__form-submit {
                cursor: pointer;
                padding: 20px 15px;
                background-color: rgb(103, 158, 244);
                border-radius: 20px;
                border: none;
                transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
                @include _fontStyle(400, 22px, 24px, #fff);
    
                &:focus-visible {
                    background-color: transparent;
                    outline: 1px solid $lightBlueColor;
                    color: $lightBlueColor
                }
    
                &:hover {
                    background-color: transparent;
                    outline: 1px solid $lightBlueColor;
                    color: $lightBlueColor
                }
            }

            .disabled {
                background-color: rgb(161, 192, 242);
            }
        }
    }
}

@keyframes transform_width-haracteristics {
    0% {
        width: 100%;
    }

    25% {
        width: 85%;
    }

    50% {
        width: 70%;
    }

    75% {
        width: 55%;
    }

    100% {
        width: calc(50% - 7.5px);
    }
}