.transport-item-page {
    width: 100%;
    font-family: "SFUI-Display";
    height: 100vh;
    padding: 90px 0 10px 0;
    /* position: relative; */
}

.transport-item-page__container {
    width: 1500px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.transport-item-page__title {
    font-size: 33px;
    font-weight: 700;
    /* position: relative; */
    display: flex;
    align-items: center;
    margin: 15px 25px;
}

.transport-item-page__history-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.transport-item-page__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.transport-item-page__about-block, .transport-item-page__info-block {
    width: 730px;
    background-color: white;
    /* height: 75vh; */
    max-height: 1000px;
    /* min-height: 676px; */
    min-height: 640px;
    border-radius: 30px;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.transport-item-page__info-block {
    position: relative;
    justify-content: space-between;
}

.transport-item-page__img-wrapper {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    /* padding: 10px; */
    /* transition: all 0.2s ease-in-out; */
    border-radius: 30px;
    overflow: hidden;
    /* cursor: pointer; */
}

.transport-item-page__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* width: 730px;
    height: auto; */
}

.transport-item-page__name {
    margin-top: 30px;
    font-size: 24px;
    letter-spacing: 1px;
}

.transport-item-page__address {
    margin-top: 8px;
    color: grey;
    font-size: 22px;
}

.transport-item-page__info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.transport-item-page__info:nth-child(10n) {
    margin-bottom: 22px;
}

.transport-item-page__info:last-child {
    margin-bottom: 0;
}

.transport-item-page__info-title {
    margin-right: 10px;
    font-size: 20px;
}

.transport-item-page__info-value {
    font-size: 23px;
}

.transport-item-page__graphic {
    width: 100%;
    height: 210px;
}

.transport-item-page__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transport-item-page__history-btn {
    height: 24px;
    border: none;
    background-color: inherit;
    font-size: 20px;
    color: rgb(103, 158, 244);
    cursor: pointer;
    border-bottom: 1px solid rgb(128, 173, 246);
}

.transport-item-page__inventory-btn {
    padding: 12px 30px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 158, 244);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
}

.transport-item-page__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    padding: 12px 0;
}

.transport-item-page__cancel-btn {
    font-size: 22px;
}

.transport-item-page__add-btn {
    padding: 12px 30px;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: rgb(103, 158, 244);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
}

.transport-item__actions-drop-down {
    top: -0.5rem;
    right: 1rem;
    position: absolute;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.transport-item__actions-drop-down > b {
    font-size: 44px;
    letter-spacing: 2px;
    color: grey;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.transport-item__actions-list {
    width: 220px;
    height: 90px;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    transition: all 0.2s ease-in-out;
}

.transport-item__action-item {
    width: 100%;
    height: 35px;
    cursor: pointer;
    display: block;
    transition: all 0.02s ease-in-out;
    padding: 8px 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.transport-item__action-item:hover {
    background-color: rgb(207, 240, 247);
}

.transport-item__actions-drop-down:hover .transport-item__actions-list {display: block;}