.calendar-table {
  width: 100%;
  display: flex;
  justify-content: center;
} 

/* Таблица календаря  */
.calendar-table > table {
  width: 85%;
  /* min-width: 600px; */
  border: 3.5px solid #909090;
  border-collapse: separate;
  font-family: Arial;
  font-size: 19px;
  border-radius: 6.5px;
}

/* .calendar-table > table > tr:first-child {
  margin: 2px;
} */

/* .calendar-table > table tbody {
  border-radius: 17px;
} */
/* Заголовок */
.calendar-table > table th {
  text-align: center;
  width: 90px;
  height: 80px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #909090;   
}
/* Заголовок праздника */
.calendar-table > table th.holiday {
  color: #FF0000;
}
/* Ячейка дня */
.calendar-table > table td {
  /* text-align: center; */
  width: 40px;
  height: 56px;
  padding-right: 6px;
  border: 1px solid #909090;
  text-align: right;
  cursor: pointer;  
  font-size: 23px;
  /* border-collapse: separate; */
}
/* Затемненный день */
.calendar-table > table td.grayed {
  background: #2F2E2E;
  cursor: auto;
}
/* Выбранный день */
.calendar-table > table td.selected {
  background: #038fcf;
  color: #FFFFFF;
  box-shadow: 1px 1px rgba(255, 255, 255, 0.5) inset;
}
/* Праздничный день */
.calendar-table > table td.holiday {
  color: #FF0000;
}


/* Кнопки навигации */
.calendar-table > table td.calendar-table__navigation {
  text-align: center;
  border: 0px none;
  font-size: 25px;
  background: #2F2E2E;
  cursor: pointer;
  white-space: nowrap;
  height: 70px;        
}

.calendar-table > table {
  margin-top: 50px;
}

.navigation-date__container {
  /* position: relative; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

.navigation-date__container > span:first-child > div{
  position: absolute;
  width: 120px;
  /* height: 250px; */
  background-color: white;
  margin-top: 33px;
  color: #000000;
  font-size: 18px;
}

.navigation-date__cell, .navigation-date__cell--active {
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-date__container > span:first-child > div > p:hover {
  background-color: yellow;
  color: #000000;
}

.navigation-date__container > span:last-child > div > p:hover {
  background-color: yellow;
  color: #000000;
}

.navigation-date__container > span:first-child:hover {
  text-decoration:underline;
  color: rgb(221, 221, 221);
}

.navigation-date__container > span:last-child:hover {
  text-decoration:underline;
  color: rgb(221, 221, 221);
}

.navigation-date__container > span:last-child > div{
  position: absolute;
  width: 90px;
  background-color: white;
  margin-top: 33px;
  color: #000000;
  font-size: 18px;
}

.navigation-date__container > span > b {
  margin: 0px 20px;
}

.navigation-date__container > span {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.navigation-date__cell--active {
  color: black;
  background-color: rgb(255, 255, 86);
}