.input-balance-add-item {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    border: 8px solid rgb(241, 242, 246);
    border-radius: 15px;
    font-size: 20px;
}

.input-balance-add-item > input {
    width: 93%;
    border: none;
    font-size: 22px;
    letter-spacing: 1px;
    color: grey;
}

.input-balance-add-item > input:focus {
    outline: none;
}

.input-balance-add-item__add-btn, .input-balance-add-item__add-btn--active {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(204, 204, 204);
    color: white;
    font-size: 25px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    text-align: center;
}

.input-balance-add-item__add-btn--active {
    background-color: #6b97da;
}