.balance__card-info {
    text-decoration: none;
    width: calc(50% - 10px);
    height: 322px;
    
    .card {
        padding: 25px;  
        height: 100%;      
        border-radius: 50px;
        background-image: url('/src/shared/assets/img/balance/cards-bckg.png');
        background-position: center;
        background-size: cover;             
        background-repeat: no-repeat;
        gap: 20px;

        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 10%);
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 1px 1px 5px 7px rgba(0, 0, 0, 10%);
        }   
            
        .card__action {
            max-width: 50%;
            margin: 0;
            padding: 13px 17px;
            outline: 1px solid grey;
            border-radius: 20px;
            background-color: transparent;
            @include _fontStyle(600, 22px, 22px, #333);

            &:hover {

            }
        }   
        
        .card__balance {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .card__balance-sum {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include _fontStyle(500, 50px, 50px, #262626);
            }

            .card__balance-valuta {
                margin: 0;
                @include _fontStyle(500px, 50px, 50px, #262626);
            }

        }
    }
}