@import "./PaymentsItem.scss";

.payments__items {
    display: flex;
    flex-direction: row;
    height: 60%;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.slick-slider {
    display: flex;
    align-items: center;
    height: 60%;

    .slick-list {
        height: 100%;

        .slick-track {
            display: flex;
            gap: 15px;
            height: 100%;

            .slick-slide {
                height: 100%;

                div {
                    height: 100%;
                }
            }
        }
    }
}